<h1>Goal</h1>

<div class="container">
  <fieldset class="form-group">
    <label>Description</label>
    <input type="text" [(ngModel)]="goal.description" class="form-control" name="description" required="required">
  </fieldset>

  <fieldset class="form-group">
    <label>Target Date</label>
    <input 
      type="date" 
      [ngModel]="goal.targetDate | date:'yyyy-MM-dd'" 
      (ngModelChange)="goal.targetDate = $event"
      class="form-control" 
      name="targetDate" 
      required="required">
  </fieldset>

  <button class="btn btn-success" (click)="saveGoal()">Save</button>
</div>