<h1>My Goal's</h1>

<div class="alert alert-success" *ngIf='message'>{{ message }}</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Target Date</th>
        <th>is Completed?</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let goal of goals">
        <td>{{goal.description}}</td>
        <td>{{goal.targetDate | date | uppercase}}</td>
        <td>{{goal.done}}</td>
        <td><button class="btn btn-success" (click)="updateGoal(goal.id)">Update</button></td>
        <td><button class="btn btn-warning" (click)="deleteGoal(goal.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
